/* Page Specific CSS */

.container {
  max-width: calc(100% - 2rem);
  font-size: 13px;
  margin: auto;
}

.table-responsive {
  height: 83.5vh;
  overflow: auto;
  padding: 0;
}

fieldset {
  padding: 1px;
}

label, input[type="checkbox"] {
  cursor: pointer;
}

ul { list-style: none; padding: 0; margin: 0; }

li label {
  display: block;
  white-space: nowrap;
}

table {
  position: relative;
  font-size: 11px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

thead {
  position: sticky;
  top: 0;
}

th {
  background-color: black;
  padding: 2px 4px;
  height: 2.67em;
  text-align: left;
  font-size: 10px;
  color: white;
}

td {
  padding: 1px 4px;
  white-space: nowrap;
}

